.store-img {
    max-width: 100%;
}

#bg {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-shadow {
    text-shadow: 0 0 1rem #000;
}